.container {
  display: flex;
  /* font-family: "Hardshock"; */
  /* font-family: "JimmyCollins", "FFBouya-Normal"; */
  font-size: 1.5rem;
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  /* position: fixed;
  z-index: 999999999; */
}

.ar {
  font-size: 1rem;
}

.bgLayer {
  /* opacity: 0.7; */
  /* background-position: right; */
  /* background-size: cover; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  /* filter: brightness(0.4); */
  opacity: 0.7;
  /* z-index: 999999999 !important; */
}

.theWallLogo {
  opacity: 0.9;
  width: 19vw;
  position: fixed;
  bottom: 0;

  left: 0;
  filter: drop-shadow(0px 0px 5px black);
}

.modalContainer {
  color: #000;
  max-width: 300px;
  min-width: 200px;
  top: 200px;

  /* min-height: 250px; */
  transition: opacity 0.5s;
  position: fixed;
  box-shadow: 3px 3px 41px #7e7e7e;
  background-color: #1b1b1b;
  pointer-events: none;
  opacity: 0.95;
}

.buttonsWrapper {
  pointer-events: all;
  position: absolute;
  display: flex;
  bottom: 10;
  right: 0;
}
.modalMargin {
  margin: 20px 20px 50px 20px;
}

.modalContentWrapper {
  /* text-shadow: 0 0 4px #f44336; */
  color: #f44336;
  padding-bottom: 20px;
}

.button {
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  /* word-break: break-word; */
  color: #ffffff;
  background: #0000004f;
  border: none;
  border-radius: 11px;
  align-items: center;
  margin-right: 1rem;
  font-family: inherit;
  font-size: 1rem;
  transition: box-shadow 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  display: flex;
  box-shadow: 3px 2px 7px red;
  letter-spacing: 2px;
}
.ar .button {
  font-size: 1rem;
}

.button:hover {
  box-shadow: 8px 8px 14px red;
}

.bottomBar {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  display: flex;
  position: fixed;
  bottom: 40px;
}

@media (min-width: 768px) {
  .container {
    font-size: 2rem;
  }

  .container.ar {
    font-size: 2rem;
  }
  .modalContainer {
    min-width: 400px;
    max-width: 600px;
    top: 260px;
  }
  .button {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    font-size: 2.5rem;
  }
  .container.ar {
    font-size: 4rem;
  }
  .modalContainer {
    min-width: 500px;
    max-width: 700px;
    top: 350px;
  }
  .button {
    font-size: 1.6rem;
  }
}
