.bgLayer {
  /* opacity: 0.7; */
  background-position: center;
  /* background-size: cover; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  filter: brightness(0.4);
  /* z-index: 999999999 !important; */
}

.container {
  display: flex;
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: serif;
  transition: opacity 0.5s ease;
}

.modalContainer {
  background-color: #fff;
  color: black;
  width: 30vw;
  font-family: serif;
  transition: opacity 0.5s;
  position: fixed;
  box-shadow: 3px 3px 8px #7e7e7e;
  min-width: 300px;
  /* max-height: 200px; */
  top: 20vh;
}

.buttonsWrapper {
  position: absolute;
  display: flex;
  bottom: 10;
  right: 0;
}
.modalMargin {
  margin: 20px 20px 50px 20px;
}

.modalContentWrapper {
  padding-bottom: 20px;
}

.headerTitle {
  text-align: center;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.button {
  box-sizing: border-box;
  color: #238518;
  cursor: pointer;
  text-shadow: none;
  text-underline-offset: 1px;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  background-color: #e9ffe7;
  background-position: 0 0;
  border: 1px solid #cae1cc;
  border-radius: 11px;
  align-items: center;
  margin-right: 10px;
  padding: 2px 12px;
  font-size: 1rem;
  line-height: 26px;
  transition:
    border 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    background-color 0.4s ease-in-out;

  display: flex;
}

.button:hover {
  background-color: #c3ffc1;
  border-color: #71e176;
}

@media (min-width: 1000px) {
  /* For tablets and larger screens */

  .container {
    min-width: 500px;
  }

  .headerTitle {
    font-size: 40px;
  }

  .modalContentWrapper {
    font-size: 25px;
  }
}
