/* ShareButton.module.css */
.shareButtonContainer {
  /* position: relative; */
  display: inline-block;
  position: fixed;
  bottom: 12vh;
  left: 5vw;
}

.shareButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shareButton:hover {
  background-color: #45a049;
}

.dropdown {
  background-color: #1a1a1a;
  border: 1px solid #4d4d4d;
  position: absolute;
  top: 100%;
  /* left: 0; */
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-top: 10px;
}

.shareOption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareOption a {
  text-decoration: none;
  color: inherit;
  /* padding: 8px; */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
}

.shareOption a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-1px);
}

.shareOption svg {
  transition: transform 0.3s ease;
}

.shareOption a:hover svg {
  transform: scale(1.1);
}
